@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

* {
  font-family: "Poppins";
}

/* nav {
    background-color: rgb(196, 138, 32);

} */
body {
  /* background-color: 
  #bb752b; */
  height: 200vh;
}

