@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Quicksand:wght@300..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bungee&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Quicksand:wght@300..700&display=swap");

* {
  font-family: "Poppins", sans-serif;
  scroll-behavior: smooth;
}

.img-variasi {
  width: 72% !important;
}

/* .navbar-expand-lg {
  background-color: #6c1db5;
  color: #ffffff !important;
} */

.bg-purple {
  background-color: #811b9e !important;
  color: white;
}
.text-logo {
  font-family: "Bungee", cursive;
  color: #811b9e !important;
  text-shadow: 1px 1px rgb(255, 255, 255), -1px -1px rgb(255, 255, 255);
}
.text-shadow {
  text-shadow: 12px 12px 12px black !important;
}
.box-shadow {
  box-shadow: 2px 2px 2px black;
}
.text-footer {
  font-family: "Bungee", cursive;
  color: rgb(255, 255, 255) !important;
}
.text-digital {
  color: #811b9e;
  text-shadow: 4px 4px 1px #ffffff;
}
.text-span {
  color: #811b9e !important;
}
.text-span-yellow {
  color: #f3b23e;
}
.bg-yellow {
  background-color: #f3b23e;
}

.text-digital-desc {
  color: rgb(196, 185, 185);
  text-shadow: 1px 2px #504b4b;
  text-align: justify;
  font-size: 1.2rem;
}
.text-digital-desc-web {
  color: rgb(196, 185, 185);
  text-shadow: 1px 2px #504b4b;
  text-align: justify;
  font-size: 1rem;
}

.btn-free {
  background-color: #ffffff !important;
}

.btn-free:hover {
  background-color: #811b9e !important;
  border: 2px solid #000000 !important;
  color: #ffffff !important;
}

.btn-free-home {
  background-color: #811b9e !important;
  color: #ffffff !important;
  border: 2px solid #811b9e !important;
}

.btn-free-home:hover {
  background-color: #540c70 !important;
  border: 2px solid #540c70 !important;
}

.bi-whatsapp {
  color: #1cbb29 !important;
  font-size: 1.5rem !important;
}

.btn-free:hover .bi-whatsapp {
  color: white !important;
}

.nav-link {
  cursor: pointer !important;
}

.nav-link:hover {
  color: #000000 !important;
  transition: 0.5s !important;
  transform: scale(1.1) !important;
  transform-origin: center !important;
}

.dropdown-item:hover {
  background-color: #540c70 !important;
  color: white !important;
}

.img-hero {
  max-width: 90% !important;
  height: auto !important;
}

.nav-mobile {
  width: auto !important;
}

#berandaSection2,
#sectionMobile2,
#sectionMobile3,
#sectionMobile4,
#sectionMobile5,
#sectionMobile6,
#sectionCall,
#sectionMobile7,
#sectionMobile8,
#sectionWeb3,
#sectionWeb4,
#sectionWeb5,
#sectionWeb6,
#sectionIt3,
#sectionIt4,
#sectionPorto2,
#sectionAbout2,
#sectionAbout4,
#footer {
  margin-top: 3rem !important;
}
#berandaSection3 {
  margin-top: 6rem !important;
  box-shadow: 0 -5px 10px 2px #ffffff;
  position: relative !important;
  padding-top: 3rem !important;
  background-color: #811b9e;
  height: 140vh !important;
}
#berandaSection4 {
  margin-top: 9rem !important;
}
.bg-blur {
  width: 100%;
  height: 100vh;
  background-image: url(img/bb.jpg) !important;
  background-attachment: fixed !important;
  background-repeat: no-repeat !important;
  background-size: cover !important;
  background-position: center;
  filter: blur(4px);
  -webkit-filter: blur(4px);
}
.item-card {
  box-shadow: 2px 2px 5px #000000;
  color: rgb(255, 250, 250);
  height: 100% !important;
}
.step-item {
  background-color: #540c70;
  color: #ffffff !important;
  box-shadow: 2px 2px 5px #000000;
}
.step-item:hover {
  background-color: #811b9e;
  box-shadow: 2px 2px 10px 3px #b3a7a7;
  transition: 0.5s;
  transform: translate(-5px, -5px);
  -webkit-transform: translate();
  -moz-transform: translate();
  -ms-transform: translate();
  -o-transform: translate();
}
.righ-down {
  transition: 0.8s;
}

.step-down:hover .righ-down {
  transition: 0.8s;
  transform: rotate(-20deg);
  -webkit-transform: rotate(-20deg);
  -moz-transform: rotate(-20deg);
  -ms-transform: rotate(-20deg);
  -o-transform: rotate(-20deg);
}
.left-arrow {
  transition: 1s;
  -webkit-transition: 1s;
  -moz-transition: 1s;
  -ms-transition: 1s;
  -o-transition: 1s;
}
.right-arrow {
  transition: 0.4s;
  -webkit-transition: 0.4s;
  -moz-transition: 0.4s;
  -ms-transition: 0.4s;
  -o-transition: 0.4s;
}
.step-1:hover .left-arrow {
  transform: skew(-20deg);
  transition: 0.8s;
  -webkit-transition: 0.8s;
  -moz-transition: 0.8s;
  -ms-transition: 0.8s;
  -o-transition: 0.8s;
  -webkit-transform: skew(-20deg);
  -moz-transform: skew(-20deg);
  -ms-transform: skew(-20deg);
  -o-transform: skew(-20deg);
}
.step-2:hover .right-arrow {
  transform: skew(20deg);
}

.mobile-card {
  background-color: #811b9e;
  transition: 1s;
}
.mobile-card:hover,
.web-card:hover,
.it-card:hover {
  transform: scale(1.05);
  transition: 1s;
  -webkit-transform: scale(1.05);
  -moz-transform: scale(1.05);
  -ms-transform: scale(1.05);
  -o-transform: scale(1.05);
}
.web-card {
  background-color: #f3b23e !important;
  transition: 1s;
}
.it-card {
  background-color: #d21b6f;
  transition: 1s;
}

.header-content {
  color: d21b6f;
}

.desc-card {
  text-align: justify !important;
}

.button-64 {
  align-items: center;
  background-image: linear-gradient(144deg, #eef11a, #50075a 50%, #da1085);
  border: 0;
  border-radius: 8px;
  box-shadow: rgba(151, 65, 252, 0.2) 0 15px 30px -5px;
  box-sizing: border-box;
  color: #ffffff;
  display: flex;
  font-family: Phantomsans, sans-serif;
  font-size: 16px !important;
  justify-content: center;
  line-height: 1em;
  max-width: 100%;
  min-width: 140px;
  padding: 1px !important;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  cursor: pointer;
}

.button-64:active,
.button-64:hover {
  outline: 0;
}

.button-64 span {
  background-color: rgb(5, 6, 45);
  padding: 16px 24px;
  border-radius: 6px;
  width: 100%;
  height: 100%;
  transition: 300ms;
}

.button-64:hover span {
  background: none;
}

.bg-footer{
  background-color: #811b9e ;
}

.bg-section-mobile {
  background-color: #811b9e;
  padding-block: 50px !important;
}
.icon-footer {
  transition: 0.7s;
  -webkit-transition: 0.7s;
  -moz-transition: 0.7s;
  -ms-transition: 0.7s;
  -o-transition: 0.7s;
}
.icon-footer:hover {
  background-color: black !important;
  transition: 0.7s;
  color: white !important;
  transform: scale(1.2);
  -webkit-transform: scale(1.2);
  -moz-transform: scale(1.2);
  -ms-transform: scale(1.2);
  -o-transform: scale(1.2);
  -webkit-transition: 0.7s;
  -moz-transition: 0.7s;
  -ms-transition: 0.7s;
  -o-transition: 0.7s;
}
.footer-link:hover {
  color: black !important;
  transition: 0.5s;
  transform: scale(1.02);
  -webkit-transform: scale(1.02);
  -moz-transform: scale(1.02);
  -ms-transform: scale(1.02);
  -o-transform: scale(1.02);
}

.item-tech {
  width: 80px;
  height: 80px;
  padding: 20px;
  transition: 1s;
  background-color: #948d8d;
  box-shadow: 1px 1px 1px #000000;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  -webkit-transition: 1s;
  -moz-transition: 1s;
  -ms-transition: 1s;
  -o-transition: 1s;
}
.item-tech:hover {
  transition: 1s;
  background-color: #cecaca;
  transform: rotate(360deg) scale(1.08);
  -webkit-transform: rotate(360deg) scale(1.08);
  -moz-transform: rotate(360deg) scale(1.08);
  -ms-transform: rotate(360deg) scale(1.08);
  -o-transform: rotate(360deg) scale(1.08);
}
.profit-mobile img {
  transition: 1s;
}

.profit-mobile:hover img {
  transition: 1s;
  transform: scale(.8);
  -webkit-transform: scale(.8);
  -moz-transform: scale(.8);
  -ms-transform: scale(.8);
  -o-transform: scale(.8);
}
.bg-sectionCall {
  background-image: url(img/bg-hp.avif);
  background-size: contain;
  background-position: left;
  background-attachment: fixed;
  background-repeat: no-repeat;
}

.bg-sectionCallIT {
  background-image: url(img/bg-hp.avif);
  background-size: cover;

  background-repeat: no-repeat;
}


.bg-header-table th:nth-child(2), th:nth-child(3), th:nth-child(4), th:nth-child(5), th:nth-child(6){
  border: 1px solid #811b9e !important;
  background-color: #811b9e !important;
  color: white !important;
  padding: 10px !important;
}

.table thead tr th , .table tbody tr td{
  border: 1px solid rgb(206, 201, 201);
}

.btn-order {
  background-color: #811b9e !important;
  color: #ffffff !important;
  transition: .9s;
  -webkit-transition: .9s;
  -moz-transition: .9s;
  -ms-transition: .9s;
  -o-transition: .9s;
}

.btn-order:hover {
  background-color: #400a47 !important;
  transform: scale(1.05);
  transition: .9s;
  -webkit-transform: scale(1.05);
  -moz-transform: scale(1.05);
  -ms-transform: scale(1.05);
  -o-transform: scale(1.05);
}

swiper-container {
  width: 100%;
  height: 100%;
}

swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff !important;
  display: flex;
  justify-content: center;
  align-items: center;
}

swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.desc-cs {
  text-align: justify !important;
}

.header-web {
  font-size: 10em !important;
  font-weight: bolder !important;
  color: #cf84e4 !important;
}

.btn-porto {
  box-shadow: 2px 2px 2px #000000;
  transition: 1s;
  -webkit-transition: 1s;
  -moz-transition: 1s;
  -ms-transition: 1s;
  -o-transition: 1s;
}
.btn-porto:hover {
 color: white !important;
 transition: 1s;
 transform: scale(1.05);
 -webkit-transform: scale();
 -moz-transform: scale();
 -ms-transform: scale();
 -o-transform: scale();
}

.half-circle {
  clip-path: polygon(0% 0%, 100% 0%, 100% 50%, 0% 50%);
  -webkit-clip-path: polygon(0% 0%, 100% 0%, 100% 50%, 0% 50%); /* Untuk kompatibilitas dengan browser */
  height: auto;
  width: auto;
  overflow: hidden;
}

.card-proyek {
  transition: 1s;
  -webkit-transition: 1s;
  -moz-transition: 1s;
  -ms-transition: 1s;
  -o-transition: 1s;
}
.card-proyek:hover {
  transition: 1s;
  box-shadow: 3px 3px 5px #635f5f  !important ;
  transform:translate(0px, -10px);
  -webkit-transform:translate();
  -moz-transform:translate();
  -ms-transform:translate();
  -o-transform:translate();
}




@media only screen and (max-width: 990px) {
  html {
    font-size: 90% !important;
  }
  .nav-mobile {
    width: 100vw !important;
    display: flex !important;
    justify-content: space-between !important;
  }
  .nav-link {
    padding-inline: 20px !important;
  }
  .nav-link:hover {
    background-color: #cf84e4;
    transform: scale(1) !important;
    transform-origin: center !important;
    -webkit-transform: scale(1) !important;
    -moz-transform: scale(1) !important;
    -ms-transform: scale(1) !important;
    -o-transform: scale(1) !important;
  }
  .bg-blur {
    display: none !important;
    position: relative !important;
  }
  .list-card {
    padding-inline: 15px !important;
  }

  #berandaSection1{
    padding-top: 70px !important;
  }
  .button-64 {
    font-size: 24px;
    min-width: 196px;
  }
}
