@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

* {
  font-family: "Poppins";
}


.navbar-nav a:hover{
 text-shadow: 3px 3px 5px rgb(0, 0, 0);
}

.navbar-nav a.active{ 
  color: rgb(255, 255, 255) !important;
  text-shadow: 3px 3px 5px rgb(0, 0, 0);
}

.home {
  background-color: #bb752b;
}

.sm:hover,
.medium:hover,
.large:hover,
.extraLarge:hover {
  border: 2px solid #bb752b;
  cursor: pointer;
}

.btn-next:hover,
.btn-prev:hover {
  background-color: darkgray;
}

#about,
#product,
#testimoni,
#faq,
#contact,
#process,
#galeri,
#parallax {
  padding-top: 80px;
}

.carousel-indicators .active {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: #bb752b;
}

.d-md-flex .card {
  margin-top: 5px;
  border: none;
  box-shadow: 2px 2px 10px #bb752b;
  font-size: 1.1em;
  color: #000000;
}

.size-product {
  padding: 5px 10px;
  border-radius: 10px;
  border: 1px solid #bb752b;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

.modal-content {
  background-color: #bb752b;
}

.text-natural {
  font-size: 0.9em;
}

.accordion-button:focus {
  box-shadow: none;
}
.accordion-button {
  font-size: 0.5em;
}

.faq-item {
  box-shadow: 1px 1px 5px #868585;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

.accordion-button::after {
  display: none;
}

.accordion-button.collapsed .custom-icon::before {
  content: "\002B";
}

.accordion-button:not(.collapsed) .custom-icon::before {
  content: "\2212";
}

.contact-us {
  background-color: #bb752b;
}
.link-contact {
  color: #bb752b;
  text-decoration: none;
  background-color: #ffffff;
  padding: 15px;
}

.teks-contact {
  color: #bb752b;
}

.text-body-contact {
  font-size: 1.1em;
}
.footer {
  background-color: #bb752b;
}

.galeri1,
.galeri2,
.galeri3,
.galeri4,
.galeri5,
.galeri6,
.galeri7,
.galeri8 {
  cursor: pointer;
}

.img-galeri .col-lg-3 span {
  position: absolute;
  width: 23.5%;
  background-color: rgba(94, 90, 90, 0.5);
  height: 47%;
  display: block;
  gap: 10px;
  
  line-height: 250px;
  text-align: center;
  border: 5px solid black;
  /* top: 0; */
  box-sizing: border-box;
  opacity: 0;
  transition: 0.5s;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
}

.img-galeri .col-lg-3 span:hover {
  opacity: 1;
  font-weight: bold;
  font-size: 1.2em;
  color: #ffffff;
  transform: translate(0,0);
  -webkit-transform: translate(0,0);
  -moz-transform: translate(0,0);
  -ms-transform: translate(0,0);
  -o-transform: translate(0,0);
}

.parallax-container {
  height: 250px; 
  overflow: hidden;
  position: relative;
}

.parallax {
  background-image: url('img/parallax.jpg');
  height: 100%;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

@media (max-width: 768px) {
  .bg-home {
    height: 300px !important;
    padding: 0 !important;
    margin-left: -17px !important;
    border-radius: 0 !important;
    -webkit-border-radius: 0 ;
    -moz-border-radius: 0 ;
    -ms-border-radius: 0 ;
    -o-border-radius: 0 ;
}
.img-about {
  width: 100% !important;
  height: 100% !important;
  border-radius: 0 !important;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
}
.teks-about {
  text-align: justify !important;
  padding: 0 25px !important;
}
}