@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

* {
  font-family: "Poppins";
}

.navbar-nav a:hover {
  text-shadow: 3px 3px 5px rgb(0, 0, 0);
}

.navbar-nav a {
  border-radius: 20px;
  padding: 0 20px;
}

.navbar-nav a.active {
  color: rgb(255, 255, 255) !important;
  text-shadow: 3px 3px 5px rgb(0, 0, 0);
  background-color: rgba(255, 193, 7, 0.4);
  border-radius: 20px;
}

.card-body {
  cursor: auto;
}

.active-product {
  background-color: #ffc107;
}
.active-product:hover {
  background-color: #ffc107;
}

.box-price,
.box-size,
.box-category {
  box-shadow: 1px 1px 3px 1px black;
}
.box-price > a:hover, .box-size > a:hover {
  background-color: rgba(255, 193, 7, 0.4) !important;
  cursor: pointer;
}
.box-price [aria-current="true"],
.box-size [aria-current="true"] {
  background-color: #bb752b;
}
.products .card-img-top {
  opacity: 1;
  transition: 0.9s;
  overflow: hidden !important;
  padding: 10px !important;
  border-radius: 15px !important;
}

.products:hover .card-img-top {
  transform: scale(1.08);
  cursor: auto;
  transition: 0.9s;
  overflow: hidden !important;
}

.btn-box-home:hover {
  background-color: #7e3206 !important;
  color: black !important;
}

.products {
  overflow: hidden !important;
}

.home,
.footer-card {
  background-color: #bb752b;
}

.teks-home {
  overflow: hidden;
}

.teks-home::before {
  content: " ";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  background-color: #bb752b;
  width: 100%;
  z-index: 1;
  animation: revealText 5s steps(101) forwards;
}

@keyframes revealText {
  to {
    left: 100%;
  }
}

.sm,
.medium,
.large,
.extraLarge {
  padding: -2px !important;
  border: 2px solid #bb752b;
  box-shadow: 1px 1px 3px 1px black;
  cursor: auto;
}

.b-border {
  border-bottom: 1px solid #bb752b;
}

.sm:hover,
.medium:hover,
.large:hover,
.extraLarge:hover {
  border: 2px solid #bb752b;
  cursor: auto;
}

.btn-next:hover,
.btn-prev:hover {
  background-color: darkgray;
}

.flower1:hover,
.flower2:hover,
.flower3:hover,
.flower4:hover {
  transform: scale(1.1) !important;
  background: rgba(255, 255, 255, 0.24);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
  border: 1px solid rgba(255, 255, 255, 1);
  transition: 0.6s;
}

.bee-parallax {
  margin-top: 4%;
  background-image: url("img/hdbee.jpg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#about,
#product,
#testimoni,
#faq,
#contact,
#process,
#galeri,
#parallax {
  padding-top: 80px;
}

.carousel-indicators .active {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: #bb752b;
}

.card-cs .card {
  margin-top: 5px;
  border: none;
  box-shadow: 2px 2px 10px #bb752b;
  font-size: 1.1em;
  color: #000000;
}

.btn-footer {
  box-shadow: 3px 3px black;
  padding: 10px 25px !important;
}

.btn-footer:hover {
  background-color: #ffc107 !important;
  transition: 0.7s;
  box-shadow: 2px 2px black;
  transform: scale(1.03);
}

.size-product {
  padding: 5px 10px;
  border-radius: 10px;
  border: 1px solid #bb752b;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

.modal-content {
  background-color: #bb752b;
  cursor: auto;
}

.text-natural {
  font-size: 0.9em;
}

.accordion-button:focus {
  box-shadow: none;
}
.accordion-button {
  font-size: 0.5em;
}

.faq-item {
  box-shadow: 1px 1px 5px #868585;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

.accordion-button::after {
  display: none;
}

.accordion-button.collapsed .custom-icon::before {
  content: "\002B";
}

.accordion-button:not(.collapsed) .custom-icon::before {
  content: "\2212";
}

.contact-us {
  background-color: #bb752b;
}
.link-contact {
  color: #bb752b;
  text-decoration: none;
  background-color: #ffffff;
  padding: 15px;
}

.teks-contact {
  color: #bb752b;
}

.text-body-contact {
  font-size: 1.1em;
}
.footer {
  background-color: #bb752b;
}

.galeri1,
.galeri2,
.galeri3,
.galeri4,
.galeri5,
.galeri6,
.galeri7,
.galeri8 {
  width: 100%;
  height: auto;
  display: block;
  position: relative;
}

.span-gl {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  font-weight: bold;
  font-size: calc(1em + 0.5vw);
  color: #ffffff;
  text-align: center;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 10px;
  width: 92%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: opacity 0.3s ease;
}

.col-lg-3 {
  position: relative;
}

.col-lg-3:hover .span-gl {
  opacity: 1;
}

.img-galeri .col-lg-3:hover img {
  cursor: pointer;
  opacity: 0.8;
  border: 5px solid black;
}

.img-galeri .col-lg-3 spans:hover {
  opacity: 1;
  font-weight: bold;
  font-size: 1.2em;
  color: #ffffff;
  transform: translate(0, 0);
  -webkit-transform: translate(0, 0);
  -moz-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  -o-transform: translate(0, 0);
}

.parallax-container {
  height: 250px;
  overflow: hidden;
  position: relative;
}

.parallax {
  background-image: url("img/parallax.jpg");
  height: 100%;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.btn-about:hover {
  background-color: #bb752b;
}

.box1:hover,
.box2:hover,
.box3:hover,
.box4:hover {
  color: black;
  background: rgba(255, 255, 255, 0.24);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
  border: 1px solid rgba(255, 255, 255, 1);
  transition: 0.8s;
}

@media (max-width: 768px) {
  .bg-home {
    height: 300px !important;
    padding: 0 !important;
    margin-left: -17px !important;
    border-radius: 0 !important;
    width: 100% !important;
    margin-top: 20px !important;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    -o-border-radius: 0;
  }
  .img-about {
    width: 100% !important;
    height: 100% !important;
    border-radius: 0 !important;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    -o-border-radius: 0;
  }
  .teks-about {
    text-align: justify !important;
    padding: 0 25px !important;
  }
  .teks-parallax {
    display: flex;
    padding: 0 !important;
    flex-direction: column;
    margin: 0 !important;
  }

  .teks-parallax p {
    margin: 0 !important;
  }
  .contact-group {
    margin: 10px !important;
  }
}
