@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

* {
  font-family: "Poppins";
}

/* body {
  height: 900vh;
} */

.home {
  background-color: #bb752b;
}

.sm:hover, 
.medium:hover,
.large:hover,
.extraLarge:hover {
  border: 2px solid #bb752b;
  cursor: pointer;
  
}

.btn-next:hover, 
.btn-prev:hover {
  background-color: darkgray; 
}

#about,
#product,
#testimoni,
#faq,
#contact,
#process {
  padding-top: 80px;
}

.carousel-indicators .active {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: #bb752b;
}


.d-md-flex .card {
  margin-top: 5px;
  border: none;
  box-shadow: 2px 2px 10px #bb752b;
  font-size: 1.1em;
  color: #000000;
}

.size-product {
  padding: 5px 10px;
  border-radius: 10px;
  border: 1px solid #bb752b;
  -webkit-border-radius: 10PX;
  -moz-border-radius: 10PX;
  -ms-border-radius: 10PX;
  -o-border-radius: 10PX;
}
/* .size-s {
  background-color: rgb(201, 152, 152);
}
.size-m {
  background-color: rgb(88, 131, 172);
}
.size-l {
  background-color: rgb(202, 196, 138);
}
.size-xl {
  background-color: rgb(135, 189, 140);
} */

.modal-content {
  background-color: #bb752b;
}

.text-natural {
  font-size: 0.9em;
}

.accordion-button:focus {
  box-shadow: none;
}
.accordion-button {
  font-size: 0.5em;
}

.faq-item {
  box-shadow: 1px 1px 5px #868585;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

.accordion-button::after {
  display: none;
}

.accordion-button.collapsed .custom-icon::before {
  content: "\002B"; 
}

.accordion-button:not(.collapsed) .custom-icon::before {
  content: "\2212"; 
}

.contact-us {
  background-color: #bb752b;
}
.link-contact {
  color: #bb752b;
  text-decoration: none;
  background-color: #ffffff;
  padding: 15px;
}

.teks-contact  {
  color: #bb752b;
}

.text-body-contact {
  font-size: 1.1em;
}
.footer {
  background-color: #bb752b;
}
